* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
  font-family: "DM Sans", serif;
}
/* ========navber css start here==== */
#navber {
  padding: 55px 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
}
.nav_item ul {
  display: flex;
  column-gap: 36px;
}
.nav_item ul li a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.nav_item {
  display: flex;
  column-gap: 75px;
}
.nav_item .nav_btn a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 14px 31px;
  border: 1px solid #fff;
  border-radius: 24px;
  transition: all linear 0.4s;
}
/* =========bnner========= */
#bnner {
  background-color: #3c50e0;
  overflow: hidden;
  margin-bottom: 100px;
}

.bnner_wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 185px;
}
.bnner_content {
  position: relative;
}

.bnner_bg .bnner_bg_img {
  background: transparent;
  position: absolute;
  bottom: -310px;
  left: -180px;
}
.bnner_content h1 {
  max-width: 560px;
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 24px;
}
.bnner_content p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  max-width: 400px;
  margin-bottom: 36px;
}
.bnner_btn {
  display: flex;
  column-gap: 36px;
}
.bnner_content .bnner_btn a {
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 18px 33px;
  border-radius: 29px;
  border: 1px solid #fff;
  transition: all linear 0.5s;
}
.bnner_content .bnner_btn a:hover {
  border: none;
  background-color: #fdb400;
}
.bnner_images {
  background: url(../images/pattern2.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 681.131px;
  height: 647.258px;
}
.bnner_img_one {
  width: 539px;
  height: 359px;
  background-color: rebeccapurple;
  position: relative;
  border-radius: 20px;
}
.bnner_img_one .bnnerImgOne {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bnner_img_two {
  width: 305px;
  height: 315px;
  background-color: rgb(82, 153, 51);
  position: absolute;
  top: 298px;
  left: 330px;
  border-radius: 20px;
  overflow: hidden;
}
.bnner_img_two .bnnerImgTwo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ========bnner css end here==== */
/* ========expart css start here==== */
#expart {
  margin-bottom: 63px;
}
.expart_content {
  display: flex;
  justify-content: space-between;
}
.expart_item {
  display: flex;
  column-gap: 33px;
}
.expart_logo {
  width: 60px;
  height: 60px;
  background-color: rgba(16, 28, 61, 0.1);
}
.expart_main_logo {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}
.expart_main_logo i {
  font-size: 24px;
  color: #101c3d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.expart_content_text h2 {
  color: #0d152e;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 27px;
}
.expart_content_text p {
  color: #81838c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  max-width: 255px;
}
/* ========expart css end here==== */
/* ========lesson css start here==== */
#lesson {
  margin-top: 265px;
  margin-bottom: 80px;
  background-color: #ebf3ff;
  width: 100%;
  height: 530px;
}
.lesson_wrapper {
  position: relative;
  top: -185px;
  padding: 0px;
}
.lesson_header {
  display: flex;
  justify-content: space-between;
}
.lesson_header h2 {
  color: #0d152e;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 45px;
}
.lesson_btn {
  display: flex;
  column-gap: 14px;
}
.lesson_btn_left {
  width: 40px;
  height: 40px;
  border: 2px solid #9ea1ab;
  border-radius: 50%;
  position: relative;
  transition: all linear 0.5s;
}
.lesson_btn_left i {
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9ea1ab;
  transition: all linear 0.5s;
}
.lesson_btn_left:hover {
  border: 2px solid #101c3d;
}
.lesson_btn_left i:hover {
  color: #101c3d;
}
.lesson_btn_right {
  width: 40px;
  height: 40px;
  border: 2px solid #9ea1ab;
  border-radius: 50%;
  position: relative;
  transition: all linear 0.5s;
}

.lesson_btn_right i {
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9ea1ab;
  transition: all linear 0.5s;
}
.lesson_btn_right:hover {
  border: 2px solid #101c3d;
}
.lesson_btn_right i:hover {
  color: #101c3d;
}

.lesson_part_box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}
.lesson_box {
  width: 350px;
  height: 418px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 22px 11px 32px 25px;
}
.lisson_box_img {
  width: 314px;
  height: 210px;
  background-color: #fdb400;
  overflow: hidden;
}
.lesson_box_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lesson_part_box :nth-child(1).lesson_box a {
  color: #416ff4;
}
.lesson_part_box :nth-child(2).lesson_box a {
  color: #2bd67b;
}
.lesson_part_box :nth-child(3).lesson_box a {
  color: #f7b26d;
}
.lesson_box a {
  margin-top: 26px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.462px;
}
.lesson_box h3 {
  margin-bottom: 24px;
  color: #0d152e;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.66px;
  max-width: 300px;
}
.lesson_box_bottm {
  display: flex;
  column-gap: 34px;
}
.lisson_box_icon {
  width: 24px;
  height: 24px;
  background-color: rgba(129, 131, 140, 0.1);
}
.lesson_box_time {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.lesson_box_time p {
  color: #81838c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.462px;
}
.lesson_box_main_icon {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}
.lesson_box_main_icon i {
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lesson_button {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.lesson_button a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.528px;
  padding: 20px 42px;
  border-radius: 30px;
  background: #3c50e0;
}
/* ========lesson css end here==== */
/* ========expand css start here==== */
#expand {
  margin-bottom: 80px;
}
.expand_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expand_img_border {
  width: 425px;
  height: 465px;
  border: 2px solid #f7b26d;
  border-radius: 18px;
  position: relative;
}
.expand_img {
  width: 425px;
  height: 465px;
  border-radius: 18px;
  position: absolute;
  top: 30px;
  right: 30px;
  overflow: hidden;
}
.expand_img_box {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.expand_content h2 {
  color: #0d152e;
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  max-width: 572px;
  margin-bottom: 24px;
}
.expand_content p {
  color: #81838c;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.66px;
  max-width: 480px;
  margin-bottom: 58px;
}
/* ==================expand logo=============== */
.expand_content_item {
  display: flex;
  column-gap: 20px;
}
.expand_content_button {
  width: 60px;
  height: 60px;
  background-color: rgba(16, 28, 61, 0.1);
}
.expand_content_icon {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
}
.expand_content_icon i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ============================== */
.expand_content_item_text h3 {
  color: #0d152e;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.66px;
  margin-bottom: 21px;
}
.expand_content_item_text p {
  color: #81838c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
  max-width: 327px;
}
.expand_content a {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.528px;
  padding: 20px 47px;
  border-radius: 30px;
  background: #3c50e0;
}
/* ========expand css end here==== */
/* ========topic css start here==== */
#topic {
  background: url(../images/topic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}
.topic_wrapper {
  padding: 125px 0 125px 0;
  text-align: center;
}
.topic_wrapper h2 {
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 30px;
}
.topic_wrapper p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 590px;
  text-align: center;
  margin: 0 auto;
}
.topic_btn {
  margin-top: 37px;
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
}
.topic_btn a {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  padding: 17px 49px;
  border-radius: 28px;
  background-color: #fdb400;
  transition: all linear 0.4s;
}
.topic_btn a:hover {
  border: 1px solid #fff;
  background-color: transparent;
}
/* ========topic css end here==== */
/* ========libary css start here==== */
#libary {
  background-color: #ebf3ff;
  margin-bottom: 80px;
}
.libary_header {
  margin-bottom: 44px;
  display: flex;
  justify-content: space-between;
}
.libary_header_left h4 {
  color: #6483f6;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}
.libary_header_left h2 {
  color: #0d152e;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 30px;
}
.libary_header_left p {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 575px;
}
.laibary_header_right {
  display: flex;
  align-items: end;
  flex-direction: row;
  column-gap: 14px;
}
.laibary_header_right form input {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 570px;
  border-radius: 24px;
  border: 1px solid #dadada;
  background: #fff;
  padding: 8px 0 8px 24px;
}
.laibary_header_right i {
  padding: 16px 27px;
  border-radius: 24px;
  background-color: #3c50e0;
  font-size: 16px;
  color: #fff;
}
/* =====================libary box============ */
.libary_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 32px;
}
.libary_box {
  width: 370px;
  height: 624px;
  border-radius: 8px;
  background: #fff;
}
.libary_box_img {
  width: 370px;
  height: 256px;
  border-radius: 8px 8px 0px 0px;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
}
.libary_box_images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.libary_img_icon {
  width: 48px;
  height: 48px;
  background-color: #fff;
  position: absolute;
  top: 28px;
  right: 28px;
  border-radius: 50%;
}
.libary_img_icon i {
  font-size: 24px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3c50e0;
}
.libary_box_text {
  padding: 30px;
}
.libary_box_head h3 {
  color: #0d152e;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  max-width: 306px;
  margin-bottom: 35px;
}
.libary_box_user_item {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.libary_box_user_item span {
  color: #0d152e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.libary_box_user_item i {
  margin-right: 14px;
}
.libary_box_user_item :nth-child(1) i {
  color: #6483f6;
  font-size: 15px;
}
.libary_box_user_item :nth-child(2) i {
  color: #f07867;
  font-size: 18px;
}
.libart_box_line {
  width: 274px;
  height: 1px;
  background: #efded5;
  margin: 0 auto;
}
.libary_box_name {
  margin-top: 15px;
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.libary_box_name_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.libary_name_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.libary_box_name_text h4 {
  color: #0d152e;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.libary_box_name_text p {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.libary_box_button {
  margin-top: 42px;
  display: flex;
  justify-content: space-around;
}
.libary_box_button span {
  color: #0d152e;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding: 8px 14px;
  background-color: #ebf3ff;
  border-radius: 24px;
}
.libary_box_button a {
  color: #0d152e;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  padding: 13px 25px;
  border-radius: 24px;
  border: 1px solid #ebf3ff;
}
.libary_btn {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
.libary_btn a {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  border-radius: 28px;
  background: #3c50e0;
  padding: 17px 39px;
}
/* ========libary css end here==== */
/* ========testimonial css start here==== */
#testimonial {
  padding-top: 160px;
  padding-bottom: 159px;
}
.testimonial_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial_left_bg {
  width: 506px;
  height: 528px;
  border-radius: 8px;
  background: #face55;
  position: relative;
}
.testimonial_left_bg img {
  position: absolute;
  top: -65px;
  left: -50px;
  z-index: 999;
}

.testimonial_bg-content {
  width: 570px;
  height: 528px;
  background-color: #ebf3ff;
  position: absolute;
  bottom: 32px;
  left: -30px;
  z-index: 0;
  padding: 48px;
}
.testimolial_content_sheap img {
  position: relative;
  top: 48px;
  left: 400px;
}
.testmonail_box_img {
  width: 170px;
  height: 170px;
  background-color: lightgray;
  border: 8px solid #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
}
.testmonail_box_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial_bg-content p {
  color: #0d152e;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  max-width: 475px;
  margin-bottom: 32px;
}
.testmonail_item_text h4 {
  color: #0d152e;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.testmonail_item_text p {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.testimonial_box_item {
  display: flex;
  justify-content: space-between;
}
.testmonail_item_button {
  display: flex;
  column-gap: 16px;
}
.testimonial_left_icon {
  width: 48px;
  height: 48px;
  border: 2px solid #f07867;
  border-radius: 50%;
  position: relative;
  transition: all linear 0.4s;
}
.testimonial_left_icon:hover {
  background-color: #f07867;
  border: none;
}
.testimonial_left_icon i {
  font-size: 16px;
  color: #f07867;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all linear 0.4s;
}
.testimonial_left_icon:hover i {
  color: #fff;
}

.testimonial_right_content h4 {
  color: #6483f6;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.testimonial_right_content h2 {
  color: #0d152e;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  max-width: 340px;
  margin-bottom: 28px;
}
.testimonial_right_content h6 {
  color: #0d152e;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 470px;
  margin-bottom: 18px;
}
.testimonial_right_content p {
  color: #333;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  max-width: 470px;
}
/* ========testimonial css end here==== */
/* ========expart css start here==== */
#expart {
  padding-top: 152px;
  padding-bottom: 132px;
}
.expart_wrapper {
  display: flex;
  column-gap: 130px;
  align-items: center;
}

.expart_content_text h4 {
  color: #6483f6;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.expart_content_text h2 {
  color: #0d152e;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  max-width: 310px;
  margin-bottom: 28px;
}
.expart_content_text h5 {
  color: #0d152e;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 470px;
  margin-bottom: 18px;
}
.expart_content_text p {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 470px;
}
.expart_box {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  position: relative;
}
.expart_box_bg {
  position: absolute;
  top: -25px;
  left: -35px;
  z-index: 0;
  /* background: url(../images/expart_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */
}
.expart_box_item {
  width: 570px;
  height: 176px;
  border-radius: 8px;
  background: #ebf3ff;
  transition: all linear 0.4s;

  position: relative;
  z-index: 999;
}
.expart_box_item :hover {
  background: #3c50e0;
  border-radius: 8px;
}
.expart_box_content {
  display: flex;
  column-gap: 24px;
  align-items: center;
  padding: 32px;
}
.expart_box_icon {
  width: 112px;
  height: 112px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}

.expart_box_icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.expart_box_text h4 {
  color: #0d152e;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 8px;
  transition: all linear 0.4s;
}
.expart_box_item :hover h4 {
  color: #fff;
}
.expart_box_text p {
  color: #0d152e;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 310px;
  transition: all linear 0.4s;
}
.expart_box_item :hover p {
  color: #fff;
}
/* ========expart css end here==== */
/* ========logo css start here==== */
.logo_content {
  width: 100%;
  height: 196px;
  display: flex;
  align-items: center;
  column-gap: 130px;
  justify-content: center;
  margin-bottom: 80px;
  padding: 82px 0;
}
.logo_starts {
  margin-bottom: -145px;
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: center;
}
.logo_starts_content {
  width: 1110px;
  height: 250px;
  border-radius: 20px;
  background-color: #416ff4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 73px 53px 77px 65px;
}
.logo_starts_content h2 {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
  max-width: 500px;
}
.logo_starts_content a {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  border-radius: 30px;
  background-color: #fdb400;
  padding: 20px 26px;
}

/* ========logo css end here==== */
/* ========footer css start here==== */
#footer {
  width: 100%;
  background-color: #07003b;
  position: relative;
  z-index: 0;
  padding-bottom: 50px;
}
.footer_wrapper {
  padding-top: 254px;
}
.footer_list {
  padding-bottom: 200px;
  display: flex;
  justify-content: space-between;
}
.footer_item {
  width: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer_item li a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.footer_item li:first-child a {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.footer_line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.08);
  position: absolute;
  bottom: 100px;
  left: 0;
}
.footer_copy {
  display: flex;
  justify-content: space-between;
}
.footer_copy p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.footer_copy_right h5 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.footer_copy_right{
  display: flex;
  column-gap: 16px;
}
.footer_logo{
  display: flex;
  column-gap: 20px;
}
.footer_logo i{
  font-size: 20px;
  color: #687497;
  transition: all linear .4s;
}
.footer_logo i:hover{
  color: #fff;
}

/* ========footer css end here==== */
