* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
  font-family: "DM Sans", serif;
}
/* ========navber css start here==== */
#navber {
  padding: 55px 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
}
.nav_item ul {
  display: flex;
  column-gap: 36px;
}
.nav_item ul li a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.nav_item {
  display: flex;
  column-gap: 75px;
}
.nav_item .nav_btn a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 14px 31px;
  border: 1px solid #fff;
  border-radius: 24px;
  transition: all linear 0.4s;
}
/* =========navber ends========= */
/* ========expart css start here==== */
#expart {
  margin-bottom: 63px;
}
.expart_content {
  display: flex;
  justify-content: space-between;
}
.expart_item {
  display: flex;
  column-gap: 33px;
}
.expart_logo {
  width: 60px;
  height: 60px;
  background-color: rgba(16, 28, 61, 0.1);
}
.expart_main_logo {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}
.expart_main_logo i {
  font-size: 24px;
  color: #101c3d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.expart_content_text h2 {
  color: #0d152e;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 27px;
}
.expart_content_text p {
  color: #81838c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  max-width: 255px;
}
/* ========expart css end here==== */
/* ========expand css start here==== */
#expand {
  margin-bottom: 80px;
}
.expand_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expand_img_border {
  width: 425px;
  height: 465px;
  border: 2px solid #f7b26d;
  border-radius: 18px;
  position: relative;
}
.expand_img {
  width: 425px;
  height: 465px;
  border-radius: 18px;
  position: absolute;
  top: 30px;
  right: 30px;
  overflow: hidden;
}
.expand_img_box {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.expand_content h2 {
  color: #0d152e;
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  max-width: 572px;
  margin-bottom: 24px;
}
.expand_content p {
  color: #81838c;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.66px;
  max-width: 480px;
  margin-bottom: 58px;
}
/* ==================expand logo=============== */
.expand_content_item {
  display: flex;
  column-gap: 20px;
}
.expand_content_button {
  width: 60px;
  height: 60px;
  background-color: rgba(16, 28, 61, 0.1);
}
.expand_content_icon {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
}
.expand_content_icon i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ============================== */
.expand_content_item_text h3 {
  color: #0d152e;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.66px;
  margin-bottom: 21px;
}
.expand_content_item_text p {
  color: #81838c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
  max-width: 327px;
}
.expand_content a {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.528px;
  padding: 20px 47px;
  border-radius: 30px;
  background: #3c50e0;
}
/* ========expand css end here==== */
/* ========libary css start here==== */
#libary {
  background-color: #ebf3ff;
  margin-bottom: 80px;
}
.libary_header {
  margin-bottom: 44px;
  display: flex;
  justify-content: space-between;
}
.libary_header_left h4 {
  color: #6483f6;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}
.libary_header_left h2 {
  color: #0d152e;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 30px;
}
.libary_header_left p {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 575px;
}
.laibary_header_right {
  display: flex;
  align-items: end;
  flex-direction: row;
  column-gap: 14px;
}
.laibary_header_right form input {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 570px;
  border-radius: 24px;
  border: 1px solid #dadada;
  background: #fff;
  padding: 8px 0 8px 24px;
}
.laibary_header_right i {
  padding: 16px 27px;
  border-radius: 24px;
  background-color: #3c50e0;
  font-size: 16px;
  color: #fff;
}
/* =====================libary box============ */
.libary_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 32px;
}
.libary_box {
  width: 370px;
  height: 624px;
  border-radius: 8px;
  background: #fff;
}
.libary_box_img {
  width: 370px;
  height: 256px;
  border-radius: 8px 8px 0px 0px;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
}
.libary_box_images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.libary_img_icon {
  width: 48px;
  height: 48px;
  background-color: #fff;
  position: absolute;
  top: 28px;
  right: 28px;
  border-radius: 50%;
}
.libary_img_icon i {
  font-size: 24px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3c50e0;
}
.libary_box_text {
  padding: 30px;
}
.libary_box_head h3 {
  color: #0d152e;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  max-width: 306px;
  margin-bottom: 35px;
}
.libary_box_user_item {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.libary_box_user_item span {
  color: #0d152e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.libary_box_user_item i {
  margin-right: 14px;
}
.libary_box_user_item :nth-child(1) i {
  color: #6483f6;
  font-size: 15px;
}
.libary_box_user_item :nth-child(2) i {
  color: #f07867;
  font-size: 18px;
}
.libart_box_line {
  width: 274px;
  height: 1px;
  background: #efded5;
  margin: 0 auto;
}
.libary_box_name {
  margin-top: 15px;
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.libary_box_name_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.libary_name_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.libary_box_name_text h4 {
  color: #0d152e;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.libary_box_name_text p {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.libary_box_button {
  margin-top: 42px;
  display: flex;
  justify-content: space-around;
}
.libary_box_button span {
  color: #0d152e;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding: 8px 14px;
  background-color: #ebf3ff;
  border-radius: 24px;
}
.libary_box_button a {
  color: #0d152e;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  padding: 13px 25px;
  border-radius: 24px;
  border: 1px solid #ebf3ff;
}
.libary_btn {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
.libary_btn a {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  border-radius: 28px;
  background: #3c50e0;
  padding: 17px 39px;
}
/* ========libary css end here==== */
/* ========expart css start here==== */
#expart-two {
  padding-top: 152px;
  padding-bottom: 132px;
}
.expart_wrapper {
  display: flex;
  column-gap: 130px;
  align-items: center;
}

.expart_content_text h4 {
  color: #6483f6;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.expart_content_text h2 {
  color: #0d152e;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  max-width: 310px;
  margin-bottom: 28px;
}
.expart_content_text h5 {
  color: #0d152e;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 470px;
  margin-bottom: 18px;
}
.expart_content_text p {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 470px;
}
.expart_box {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  position: relative;
}
.expart_box_bg {
  position: absolute;
  top: -25px;
  left: -35px;
  z-index: 0;
}
.expart_box_item {
  width: 570px;
  height: 176px;
  border-radius: 8px;
  background: #ebf3ff;
  transition: all linear 0.4s;

  position: relative;
  z-index: 999;
}
.expart_box_item :hover {
  background: #3c50e0;
  border-radius: 8px;
}
.expart_box_content {
  display: flex;
  column-gap: 24px;
  align-items: center;
  padding: 32px;
}
.expart_box_icon {
  width: 112px;
  height: 112px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}

.expart_box_icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.expart_box_text h4 {
  color: #0d152e;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 8px;
  transition: all linear 0.4s;
}
.expart_box_item :hover h4 {
  color: #fff;
}
.expart_box_text p {
  color: #0d152e;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 310px;
  transition: all linear 0.4s;
}
.expart_box_item :hover p {
  color: #fff;
}
/* ========expart css end here==== */
/* ========footer css start here==== */
#footer {
  width: 100%;
  background-color: #07003b;
  position: relative;
  z-index: 0;
  padding-bottom: 50px;
}
.footer_wrapper {
  padding-top: 254px;
}
.footer_list {
  padding-bottom: 200px;
  display: flex;
  justify-content: space-between;
}
.footer_item {
  width: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer_item li a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.footer_item li:first-child a {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.footer_line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.08);
  position: absolute;
  bottom: 100px;
  left: 0;
}
.footer_copy {
  display: flex;
  justify-content: space-between;
}
.footer_copy p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.footer_copy_right h5 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.footer_copy_right {
  display: flex;
  column-gap: 16px;
}
.footer_logo {
  display: flex;
  column-gap: 20px;
}
.footer_logo i {
  font-size: 20px;
  color: #687497;
  transition: all linear 0.4s;
}
.footer_logo i:hover {
  color: #fff;
}

/* ========footer css end here==== */
